body{ 
    padding-top: 3%;
    background-color: #423d36;
    margin: 0%;

  
}

h1, h2, h3, p{
    font-family:'Manrope' sans-serif;
 

}
#education h2{
    background-color: #9a684b;
    text-align: center;
    width: 100%;
}


#name{
 
   color: white;
    display:inline-block;
    padding: 20px;
    font-size: 50px;
}

#about-me{
    font-size: 25px;
    font-weight: bolder;
    background-color: #9a684b;
    text-align: center;
    width: 100%;
}



.nav-link{
    display: inline-block;
    font-size: 20px;
    padding: 15px;
    margin: 5px 25px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}



#navbar{
        background-color: #b9b9b9;
        width: 100%;
        padding: 0%;
        margin-bottom: 10%;
        border-radius: 2px;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        
      
}

#back-to-top > button{
    color: white;
    background-color: rgb(76, 77, 76);
    width:50px;
    height: 50px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    position: fixed;
    right: 80px;
    bottom: 80px;
}


 
 .image-container {
    padding:10%;
    overflow:visible;
    background-color: #423d36;
  
 }

 .skills{
    
padding: 10%;
height:80pc;
padding-top: 50%;
    
}

.skills h2{
    font-weight: 700;
    font-size:xx-large;
    background-color: #9a684b;
    text-align: center;
    width: 100%;
}
        
.main-image{
    border:50% solid white;
    border-radius: 50%;
    overflow-x: visible;
 
  
}

  
.link
{
    color:black;
} 
#hyper-link{
    color:wheat;
}

.contact{
    position:relative;
    background-color:#423d36;
    left: 0%;
    margin: 0%;
    width: 100%;
    color:black;
    text-align: center;
    font-size: medium;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 20px;
}
#column-left{
        
padding: 10%;
height:80pc;
padding-top: 50%;


}



.header {
    position:relative;
    width: 100%;
}

.header-text {
    display: inline-block;
    padding-left: 2%;
    margin-left: 33%;
}

.column {
    float: left;
    width: 30%;
    height: 30%;
    background-color: white;
    

  }
  .column-right {
      width: 65%;
      float: right;
      padding-right: 5%;
      color: white;
  }
 
  
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  .row{
    height: 50%;
  }
  .content {
      padding: 5%;
      overflow-wrap: normal;
      
    
  
  }
  
    
  