body{ 
    padding-top: 3%;
    background-color: #423d36;
    margin:0%;
}

h1, h2, h6, p{
    font-family:'Manrope', sans-serif;
 

}
#education h2{
    background-color: #9a684b;
    text-align: center;
    width: 100%;
}


#name{
 
   color: white;
    display:inline-block;
    padding: 20px;
    font-size: px;
}

#about-me{
    font-size: 25px;
    font-weight: bolder;
    background-color: #9a684b;
    text-align: center;
    width: 100%;
}



.nav-link{
    display: inline-block;
    font-size: 20px;
    padding: 15px;
    margin: 5px 25px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}



#navbar{
        background-color: #b9b9b9;
        width: 100%;
        padding: 0%;
        margin-bottom: 10%;
        border-radius: 2px;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        
      
}

#back-to-top {
    color: white;
    background-color: rgb(76, 77, 76);
    width:50px;
    height: 50px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    position: fixed;
    right: 80px;
    bottom: 80px;
}


 
 .image-container {
    padding:10%;
    overflow:visible;
    background-color: #423d36;
  
 }

 .skills{
    
padding: 10%;
height:850px;
padding-top: 20%;

    
}

.skills h2{
    font-weight: 700;
    font-size:xx-large;
    background-color: #9a684b;
    text-align: center;
    width: 100%;
}
        
.main-image{
    border:50% solid white;
    border-radius: 50%;
    overflow-x: visible;
 
  
}

  
.link
{
    color:black;
} 
#hyper-link{
    color:wheat;
}

.contact{
   
    width: 118pc;
    color:black;
    text-align:left;
    padding:0%;
    font-size: 15px;
    background-color: #fff;
}
.container{

    background-color: #f2f2f2;
    margin-left: 500px;
    margin-right: 800px; 
  }
input[type=submit] {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 5px;
}
input[type=reset] {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;}

input[type=submit]:hover {
        background-color: #333;
        opacity: 0.4;
    }
input[type=reset]:hover {
        background-color: #333;
        opacity: 0.4;
    }
label{
    display: inline;
    margin-top: 2.5em;
}
input[type="email"],input[type=text], input[type=name] {
    width: 50%;
    border: none;
    display: inline-block;
    margin: 5px  0px 22px 0px;
    padding: 10px;
    border-radius: 5px;

}

input[type="subject"],type[type=text]{
    width: 50%;
    border: none;
    display: inline-block;
    margin: 5px  0px 22px 0px;
    padding: 10px;
    border-radius: 5px;

}
        

#column-left{
        
padding: 10%;
height:80pc;
padding-top: 50%;


}

.header {
    position:relative;
    width: 100%;
}

.header-text {
  right: 100%;
    margin-left: 40%;
    float: right;
}

.column {
    float: left;
    width: 30%;
    height: 30%;
    background-color: white;
    

  }
  .column-right {
      width: 65%;
      float: left;
      padding-right:5%;
      color: white;
  }

  
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  .row{
    height: 50%;
  }
  .content {
      padding-right: 80px;
      padding-left: 80px;
      overflow-wrap: normal;
   
  }
  
  input[type=text],select,textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 16px;

    } 

    .fa{
        padding: 20px;
        font-size: 20px;
        width: 25px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;

    }
    .fa:hover{
        opacity: 0.5;
    }
    .fa-facebook{
        background-color: #333;
        color: #fff;
        margin-right: 20px;
    
    }

    .fa-github{
        background-color: #333;
        color: #ffff;
        margin-left: 20px;
        margin-right: 20px;

    }
    .fa-linkedin{
        background-color: #333;
        color: #fff;
        margin-left: 20px;
        margin-right: 20px;

    }
    /*
    . {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
        }


  
    
  