body{ 
    padding-top: 3%;
    background-color: #423d36;
    margin:0%;
    width: auto;
    line-height: 1.6;
    
}
h1, h2, h6, p{
    font-family:'Manrope', sans-serif;
 

}
#education h2{
    background-color: #9a684b;
    text-align: center;
    width: 100%;
    margin-right: 100px;
}


#name{
 
   color: white;
    display:inline-block;
    text-align: center;
    padding-top:50px;
    padding-bottom:50px ;
    padding-left: 100px;
    margin-right:100px;
    margin-left: 200px;
    font-size: 90px;
    font-family:'Times New Roman', Times, serif;
    }

#about-me{
    font-size: 25px;
    font-weight: bolder;
    background-color: #9a684b;
    width: 100%;
    text-align: center;  
}
#language{
    font-size: 25px;
    font-weight: bolder;
    background-color: #9a684b;
    width: 100%;
    text-align: center;

    
    
}



.nav-link{
    display: inline-block;
    font-size: 20px;
    padding: 15px;
    margin: 5px 25px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}



#navbar{
        background-color: #b9b9b9;
        width: 100%;
        padding: 0%;
        margin-bottom: 10%;
        border-radius: 2px;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;     
      
}
nav a:hover{
    color: #f1c40f;
    border-bottom: 4px solid #f1c40f;
    transition: 0.5s;
    font-weight: bolder;
font-size:x-large;}



#back-to-top {
    color: white;
    background-color:#423d36;
    width:50px;
    height: 50px;
    border-radius: 50%;
    border-width: 1px;
    border-style:solid;
    position: fixed;
    right: 80px;
    bottom: 80px;
}


 
 .image-container {
    padding:10%;
    overflow:visible;

  
 }
 
 #head-row{
    background-image: url(/Images/pawel-czerwinski-WsbLhnKj4b4-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 50%;
    background-size: cover;
    position: relative;
  
 }

 .skills{
    
padding: 10%;
height:850px;
padding-top: 20%;
height: 90pc;

    
}

.skills h2{
    
    font-size:25px;
    background-color: #9a684b;
    text-align: center;
    width: 100%;
}
        
.main-image{
    border: 1px solid white;
    border-radius: 50%;
    overflow-x: visible;
 
  
}

  
.link
{
    color:black;
} 
#hyper-link{
    color:wheat;
}

.contact{
   
    width:auto;
    color:black;
    position: relative;
    padding:30px 40px;
    font-size: 15px;
    background-color: #fff;
    margin-bottom: 10px;
    padding-bottom: 20px;


}
.container{

    background-color: #f2f2f2;
    border-color: #494949;
    width: 35%;
    margin-left: 35%;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    
   
  }
  #msg{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 5px;
        background-color: #f7f7f7;
        border-bottom:1px solid #f0f0f0;
        padding: 20px  40px;
        margin: 0;
    
  }

button[type=submit] {
    background-color: #333;
    color: #fff;
    padding: 12px 20px ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 15px;
    margin-bottom: 15px;
}
button[type=reset] {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
}

button[type=submit]:hover {
        background-color: #333;
        opacity: 0.4;
    }
button[type=reset]:hover {
        background-color: #333;
        opacity: 0.4;
    }
label{
    display: inline;
    margin-top: 2.5rem;
}
input[type="email"],input[type=text], input[type=name] {
    width: 50%;
    border: 2px solid #f0f0f0;
    display: inline-block;
    margin-bottom: 2px;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    

}

input[type="subject"],input[type=checkbox]{
    width: 10%;
    display: inline-block;
    border-radius: 4px;

}
input[type=text],select,textarea{
    padding: 10px 20px 30px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 20px;
    resize: none;

    } 
        

#column-left{
        
padding: 10%;
height:80pc;
padding-top: 50%;


}

.header {
    position:relative;
    width: 100%;
}


.column {
    float: left;
    width: 30%;

    background-color: white;

  }



  .column-right {
    margin-top:0%;
      width: 55%;
      float: left;
      padding-right:10%;
      color: white;}
  

  
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  .row{
    height: 50%;
  
  }
  .content {
      padding-right: 80px;
      padding-left: 80px;
      overflow-wrap: normal;
      text-align: justify;
      margin-bottom: 0%;
    
   
  }
  
  
    .fa{
        padding: 20px;
        font-size: 20px;
        width: 25px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;

    }
    .fa:hover{
        opacity: 0.5;
    }
    .fa-facebook{
        background-color: #333;
        color: #fff;
        margin-right: 20px;
    
    }

    .fa-github{
        background-color: #333;
        color: #ffff;
        margin-left: 20px;
        margin-right: 20px;

    }
    .fa-linkedin{
        background-color: #333;
        color: #fff;
        margin-left: 20px;
        margin-right: 20px;

    }
    /*
    . {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
        }


  
    
  